{% extends "base.html" %}
{% block content %}

<h1>products</h1>
<ul>
{% for product in object_list %}
    <div>
        <div>
            {{ post.title }}
        </div>
        <div>
            {{ post.brand }}
        </div>
        <div>
            {{ post.product }}
        </div>
        <div>
            {{ post.tags }}
        </div>
        <div>
            {{ post.hashtags }}
        </div>
        <div>
            {{ post.posted }}
        </div>
        <div>
            {{ post.link }}
        </div>
        <div>
            {{ post.short }}
        </div>
        <div>
            {{ post.date }}
        </div>
        <div>
            {{ post.ig }}
        </div>
        <div>
            {{ post.co }}
        </div>
        <div>
            <a href='{% url "post-delete" post.pk %}'>Delete</a>
        </div>
    </div>
{% empty %}
    <li>No posts.</li>
{% endfor %}
</ul>

{% endblock %}
